html,
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Chivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html {
  background-color: white;
}

body::before {
  content: "";
  position: fixed;
  display: block;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: grayscale(1) opacity(50%);
  background-image: url(/images/spectre-bg-2.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #151d20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
